<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header>
        <nav>
            <a href="/">HOME</a>
            <a href="/perfil">PERFIL</a>
            <a href="/about">SOBRE</a>
        </nav>
    </header>
    <h2>Sobre</h2>
    <hr>
    <p>
        Esse projeto foi desenvolvido por <a href="https://www.github.com/devjosecarlosteles">José Carlos Teles</a>
        com a itensão
        <br/>
        de ser uma amostra de uma aplicação em <strong>Python</strong> com o uso do <strong>Flask</strong>
        framework.
    </p>
</body>
</html>