<!DOCTYPE html>
<html lang="pt-Br">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header>
        <nav>
            <a href="/">HOME</a>
            <a href="/profile">PERFIL</a>
            <a href="/about">SOBRE</a>
        </nav>
    </header>
    <h2>Seja bem vindo ao meu repositório!</h2>
    <p>
        Nesse repositório irei testar algumas funções do <strong>Flask</strong>!
        <br>
        Acessando a aba <a>Perfil</a> é possível passar parâmetros para uma "fake account".
    </p>
</body>
</html>